@import "./colors";
@import "./fonts";
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3D4453;
  background-color: #f9f9f9;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 16px;
  margin-top: 4px;
}

.header {

}
